/build_local/
/build_staging/
/build_production/
/cache/
/node_modules/
/vendor/
/.idea/
/.vscode/
npm-debug.log
hot

# Jigsaw build artifacts
/source/assets/build/
/source/_posts_queen/
/source/_posts_olavea/
/source/_talks/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Old Gatsby artifacts
/.cache/
/public/
