.prose > * {
  margin-bottom: 1em;
}

.prose ol {
  list-style-position: inside;
}

.prose ul {
  list-style: none;
}

.prose ul li::before {
  content: "➽";
  display: inline-block;
  margin-right: 0.5rem;
  color: var(--color-secondary);
}

.prose > blockquote {
  grid-column: var(--grid-full-bleed) !important;
  background-color: var(--color-primary-transparent);
  margin: 0.75em 0;
  padding: 6vmin 0;
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  line-height: 1.2;
}

.prose > blockquote:last-child {
  margin-bottom: -6vmin;
}

.prose > blockquote p {
  font-weight: bold;
  max-width: 35ch;
  padding: 0 1em;
  margin: 0 auto;
}
