:root {
  --border-radius: 5px;
  --border-width: 5px;
  --color-primary: #ec4326;
  --color-primary-transparent: #ec432615;
  --color-secondary: #f2a220;
  --color-secondary-transparent: #f2a220aa;
  --color-accent: #007b7d;
  --color-accent-transparent: #007b7d0b;
  --color-bg-primary: #fffaf0;
  --color-bg-secondary: #fcedd8;
  --color-text-primary: #412f20;
  --color-text-secondary: #412f20bb;
  --color-text-contrast: #ffffff;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --hover-brightness: 1.2;
  --line-height: 1.5;
  --color-link: inherit;
  --color-button: var(--color-accent);
}
