/* Site Nav */
nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: none;
}

nav > ul {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

nav > ul li {
  display: inline-block;
  margin: 0;
  margin-right: 1em;
  position: relative;
  text-align: left;
}

/* Section List */
section > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

section > ul li {
  margin: 0.75em 0;
}

section > ul li strong {
  color: var(--color-link);
}

/* Forms */

form {
  position: relative;
}

form p + fieldset {
  margin-top: 1em;
}

form aside {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  color: var(--color-text-contrast);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

form aside button {
  position: absolute;
  top: 0;
  right: 0;
}
