main > * {
  display: grid;
  grid-template-columns: 1fr min(50ch, 90%) 0.25fr 1fr;
}

main > * > * {
  grid-column: 2;
}

main > * {
  padding-top: 7vmin;
  padding-bottom: 6vmin;
}

main > *:first-child {
  padding-top: 15vmin;
  border-top: var(--border-width) solid var(--color-primary);
}

main > *:nth-child(2n) {
  background-color: var(--color-bg-secondary);
}

main > *:last-child {
  padding-bottom: 15vmin;
}
