main > * {
  display: grid;
  grid-template-columns: 1fr min(50ch, 90%) 0.25fr 1fr;
}

main > * > * {
  grid-column: 2;
}

main > * {
  padding-top: 7vmin;
  padding-bottom: 5vmin;
}

main > *:first-child {
  padding-top: 15vmin;
  border-top: var(--border-width) solid var(--color-primary);
}

main > *:last-child {
  background-color: var(--color-secondary-accent);
  padding-bottom: 15vmin;
}
