---
import BaseLayout from "../layouts/BaseLayout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import PageSection from "../components/PageSection.astro";
import PageSectionHeader from "../components/PageSectionHeader.astro";
import Prose from "../components/Prose.astro";
import CtaSection from "../components/CtaSection.astro";
import Newsletter from "../components/Newsletter.astro";

const title = "The Dev-Task Pirate Prep Cheatsheet";
---

<BaseLayout title={title}>
  <SiteHeader />
  <main class="pb-12">
    <!-- Header Section -->
    <PageSection component="header">
      <PageSectionHeader
        badge="Coming at Jamstack Conf"
        title={title}
        lead="4 tiny steps to piratify your practice technique For Dev-Rels, Gatsby-Plugin Pirate Princesses and Dev-dads"
        hLevel={1}
      />
      <Prose class="mt-4" />
    </PageSection>

    <!-- Sign Up Section -->
    <PageSection>
      <PageSectionHeader
        title="Sign up for updates"
        lead="on the progress from Captain Ola and be the first to get your hands the Dev-Task Pirate Prep Cheatsheet"
      />
      <Newsletter formKey="devtaskcheatsheet" cta="Send me updates" tagline="" message="" class="mt-8" />
    </PageSection>
  </main>
</BaseLayout>
