---
import BaseLayout from "../layouts/BaseLayout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import PageSection from "../components/PageSection.astro";
import PageSectionHeader from "../components/PageSectionHeader.astro";
import Prose from "../components/Prose.astro";
import CtaSection from "../components/CtaSection.astro";
---

<BaseLayout
  title="Stuck on a reef in the sharky waters of the World Wide Web?"
  description="Book a 1-on-1 Emergency Call with PirateWebDev Queen Raae. Friendly advice you can put into action immediately, guaranteed!"
>
  <SiteHeader />
  <main>
    <!-- Header Section -->
    <PageSection component="header">
      <PageSectionHeader
        badge="Emergency Call"
        title="Stuck on a reef in the sharky waters of the World Wide Web?"
        lead="You have Googled. You have looked through Stack Overflow. You have tried to get Chat GPT to come up with a solution... but you are still stuck on that reef. You are ready to give up! To abandon ship!"
        hLevel={1}
      />

      <Prose>
        <h2>Imagine getting the help you need</h2>
        <p>
          Imagine this – Imagine getting pulled off the reef without damage. Imagine your web navigation skills
          improving. Imagine having the confidence that you'll stay clear of the reef the next time around.
        </p>

        <h2>Speak with a seasoned Web Developer</h2>
        <p>
          Get Unstuck – Often, all it takes to get unstuck is to talk to the right person at the right time. A person
          who has 30 years of experience sailing the World Wide Web! A person who probably has experience with that same
          reef or at least a very similar reef.
        </p>

        <h2>Here's How It Works</h2>
        <p>
          You book a World Wide Web Emergency Call with me using <a href="https://savvycal.com/raae/emergency"
            >the scheduling link</a
          >. The event is 45 minutes, but you might want to block out extra time in case we go a little over. Our call
          will take place over Google Meet. When booking, I'll ask you to give me a quick rundown of your troubles and
          your tech stack so I can mentally prepare for our call.
        </p>

        <h3>100% Money back guarantee</h3>
        <p>If I cannot help you find a way to get off your reef, I'll refund your payment in full.</p>

        <h3>Availability is limited</h3>
        <p>
          I'm only available for a couple of Emergency calls per week. Scheduling is first-come, first-served, so the
          sooner you book your call, the sooner you'll get into clear waters again.
        </p>
      </Prose>

      <CtaSection class="mt-6" href="https://savvycal.com/raae/emergency" label="Book your call" />
    </PageSection>

    <!-- Testimonials Section -->
    <PageSection>
      <PageSectionHeader title="But don't take my word for it..." />

      <div class="mt-8 space-y-8">
        <blockquote class="m-0 px-6 pt-3 pb-5 border-solid border-4 border-yellow-400">
          <Prose>
            <p>
              As a repeat customer of the Gatsby Emergency call I have seen my knowledge grow, and I'm much more
              confident about the right ways to do things. Scheduling is a breeze and it's much easier to just hop on a
              call than to recreate a long test case on Stack Overflow and get insulted half the time :p
            </p>
          </Prose>
          <div class="flex items-center gap-4 mt-6">
            <cite class="text-sm leading-tight">
              <span class="font-semibold">Aur&eacute;lien Botermans</span>
            </cite>
          </div>
        </blockquote>

        <blockquote class="m-0 px-6 pt-3 pb-5 border-solid border-4 border-yellow-400">
          <Prose>
            <p>
              Queen Raae was able to both diagnose the issues I faced and help me understand what I was doing wrong (and
              learned something from it). Getting help on short notice is extremely valuable to me as a busy
              professional, and her wonderful personality, professionalism and expertise is a treat.
            </p>
          </Prose>
          <div class="flex items-center gap-4 mt-6">
            <cite class="text-sm leading-tight">
              <span class="font-semibold">Stephen Parker</span>
              <br />
              <a
                class="font-semibold text-inherit underline underline-offset-2 decoration-transparent decoration-wavy hover:decoration-amber-600 transition-all ease-in-out duration-300"
                href="https://sparker888.com/"
              >
                Sparker888
              </a>
            </cite>
          </div>
        </blockquote>
      </div>
    </PageSection>

    <!-- About Section -->
    <PageSection>
      <Prose>
        <h2>Why me?</h2>
        <ul>
          <li>I have been coding since 1995 and have been stuck on my fair share of reefs by now.</li>
          <li>I hold a Master of Computer Science from the Norwegian University of Science and Technology.</li>
          <li>I enjoy figuring out how to get the most of the tools and technologies, and share it with others.</li>
          <li>
            I have created apps trusted by the Swedish Armed Forces, The Norwegian Water Resources and Energy
            Directorate, and others.
          </li>
        </ul>
      </Prose>
      <img
        src="/content/landing/raae.jpg"
        alt="Queen Raae holding a laptop and looking into the camera in her signature green dress."
        class="mt-6 max-w-xl"
      />
    </PageSection>

    <!-- Tech Section -->
    <PageSection>
      <Prose>
        <p>I can help you with most things web (dev) related:</p>
        <ul>
          <li>JavaScript</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>JAMstack</li>
          <li>Gatsby</li>
          <li>Astro</li>
          <li>React</li>
          <li>WordPress</li>
          <li>Website builders</li>
          <li>Zapier/Make</li>
          <li>Email tools</li>
        </ul>
        <p>
          And a whole lot more, if you are unsure <a href="https://savvycal.com/raae/emergency">book a call</a> and I'll cancel
          + refund if it's not my jam.
        </p>
        <p>If it's Webflow or Next though, I'm not your gal 🤷‍♀️</p>
      </Prose>
    </PageSection>

    <!-- Final CTA Section -->
    <PageSection component="footer">
      <PageSectionHeader
        title="Friendly advice you can put into action immediately, guaranteed."
        tagline="Get Unstuck • Gain confidence • Take Action"
      />
      <CtaSection class="mt-6" href="https://savvycal.com/raae/emergency" label="Book your call" />
    </PageSection>
  </main>
</BaseLayout>
