---
import BaseLayout from '../layouts/BaseLayout.astro';
import SiteHeader from '../components/SiteHeader.astro';
import PageSection from '../components/PageSection.astro';
import PageSectionHeader from '../components/PageSectionHeader.astro';
import Prose from '../components/Prose.astro';
import CtaSection from '../components/CtaSection.astro';
import Newsletter from '../components/Newsletter.astro';

const title = "Stuck on a reef in the sharky waters around the Gatsby islands?";
const description = "Book a 1-on-1 Gatsby Call with Queen Raae. Friendly advice you can put into action immediately, guaranteed!";
---

<BaseLayout title={title} description={description}>
  <SiteHeader />
  <main class="pb-12">
    <!-- Header Section -->
    <PageSection component="header">
      <PageSectionHeader
        badge="Gatsby Emergency Call"
        title={title}
        lead="You have Googled. You have looked through Stack Overflow. You have tried to get help in the Gatsby Discord. But you are still stuck on that reef. You are ready to give up! To abandon ship!"
        hLevel={1}
      />
      <Prose class="mt-4">
        <h2>Imagine getting the help you need</h2>
        <p>Imagine this – Imagine getting pulled off the reef without damage. Imagine your Gatsby navigation skills improving. Imagine having the confidence that you'll stay clear of the reef the next time around.</p>

        <h2>Speak with a seasoned Gatsby developer</h2>
        <p>Get Unstuck – Often, all it takes to get unstuck is to talk to the right person at the right time. A person who has experience sailing around the Gatsby waters and probably has experience with that same reef, or at least a very similar reef.</p>

        <h2>Here's How It Works</h2>
        <p>You book an Emergency Gatsby Call with me using <a href="https://savvycal.com/raae/emergency">my scheduling link</a>. The event is 60 minutes, but you might want to block out extra time in case we go a little long. Our call will take place over Whereby. When booking, I'll ask you to give me a quick rundown of your troubles and your tech stack.</p>

        <h3>100% Money back guarantee</h3>
        <p>If I cannot help you find a way to get off your reef, I'll refund your payment in full.</p>

        <h3>Availability is limited</h3>
        <p>I'm only available for a couple live Gatsby calls per week. Scheduling is first-come, first-served, so the sooner you book your call, the sooner you'll get into clear waters again.</p>
      </Prose>
      <CtaSection
        label="Book your call"
        href="https://savvycal.com/raae/emergency"
        class="mt-8"
      />
    </PageSection>

    <!-- About Section -->
    <PageSection>
      <Prose>
        <h2>Why me?</h2>
        <ul>
          <li>I have worked on Gatsby projects since 2018.</li>
          <li>I enjoy figuring out how to get the most out of the frameworks I use.</li>
          <li>I have been coding since 1995 and have been stuck on my fair share of reefs by now.</li>
          <li>I was chosen by Gatsby as a speaker for Gatsby Days 2020 and Gatsby Fall Camp 2021</li>
          <li>I am the winner of the Gatsby FuncJam 2021</li>
          <li>I have created apps trusted by the Swedish Armed Forces, The Norwegian Water Resources and Energy Directorate, and others.</li>
        </ul>
        <p>
          <img
            src="/content/landing/raae.jpg"
            alt="Queen Raae holding a laptop and looking into the camera in her signature green dress."
          />
        </p>
      </Prose>
    </PageSection>

    <!-- CTA Footer Section -->
    <PageSection>
      <PageSectionHeader
        title="Friendly advice you can put into action immediately, guaranteed."
        tagline="Get Unstuck • Gain confidence • Take Action"
      />
      <CtaSection
        label="Book your call"
        href="https://savvycal.com/raae/emergency"
        class="mt-8"
      />
    </PageSection>
  </main>
</BaseLayout>
