---
import BaseLayout from '../layouts/BaseLayout.astro';
import SiteHeader from '../components/SiteHeader.astro';
import PageSection from '../components/PageSection.astro';
import PageSectionHeader from '../components/PageSectionHeader.astro';
import Prose from '../components/Prose.astro';
import CtaSection from '../components/CtaSection.astro';
import Newsletter from '../components/Newsletter.astro';

const title = "Get feedback on your Gatsby project";
const description = "Book a Gatsby Code review with Queen Raae. Friendly advice you can put into action immediately, guaranteed!";
---

<BaseLayout title={title} description={description}>
  <SiteHeader />
  <main class="pb-12">
    <!-- Header Section -->
    <PageSection component="header">
      <PageSectionHeader
        badge="Gatsby Code Review"
        title={title}
        lead="Are unexpected bugs popping up in your Gatsby project? Are you unsure if your Gatsby project is following Gatsby best practices? Can your project change crew without a major hit to the development speed?"
        hLevel={1}
      />
      <Prose class="mt-4">
        <h2>Need a pair of Gatsby-expert eyes?</h2>
        <p><strong>Imagine this –</strong> Imagine understanding the current state of your Gatsby project. Imagine knowing how to steer away from common Gatsby pitfalls in the future. Imagine having a plan to ensure a stable Gatsby project.</p>
        <p><strong>Imagine having a Gatsby expert review your code</strong> and help you get there!</p>

        <h2>Here's How It Works</h2>
        <p>In a virtual 30-minute meeting, you present your Gatsby project and the underlying challenges you are having. If you are not the lead developer, bring the lead developer!</p>
        <p>After that, you give me access to your code, and I thoroughly review the whole code base.</p>
        <p>After I finish the review, we schedule a one-hour review session where I present feedback on your Gatsby project and share tips for improvements and further development. You are free to record this session for future reference.</p>
      </Prose>
      <CtaSection
        label="Book your intro session"
        href="https://savvycal.com/raae/code-review"
        noteTitle="2.445 USD with a 100% Money back guarantee."
        note="If you are not happy after the initial call, let me know, and I'll refund your payment in full. No hard feelings!"
        class="mt-8"
      />
    </PageSection>

    <!-- About Section -->
    <PageSection>
      <Prose>
        <h2>Who am I and why choose me to review your code?</h2>
        <p>Hi! I am Queen Raae, a seasoned web developer who loves duct-taping together side projects in addition to making apps trusted by the Swedish Armed Forces, The Norwegian Water Resources and Energy Directorate, and others.</p>
        <p>I have followed Gatsby closely since 2018 and here are some hopefully compelling reasons as to why you should choose me to review your code:</p>
        <ul>
          <li>Experience publishing Gatsby Plugins to the npm Registry.</li>
          <li>A solid presence in the Gatsby community.</li>
          <li>"Executed the project with very little oversight..."</li>
          <li>Hired to upgrade the official Cloudinary plugins.</li>
        </ul>
        <p>
          <img
            src="/content/landing/raae.jpg"
            alt="Queen Raae holding a laptop and looking into the camera in her signature green dress."
          />
        </p>
      </Prose>
    </PageSection>

    <!-- CTA Footer Section -->
    <PageSection>
      <PageSectionHeader
        title="Get another pair of eyes on your Gatsby project"
      />
      <CtaSection
        label="Book your intro session"
        href="https://savvycal.com/raae/code-review"
        noteTitle="2.445 USD with a 100% Money back guarantee."
        note="If you are not happy after the initial call, let me know, and I'll refund your payment in full. No hard feelings!"
        class="mt-8"
      />
    </PageSection>
  </main>
</BaseLayout>
