---
interface Props {
  component?: string;
  class?: string;
  id?: string;
}

const { component = 'section', class: className, id } = Astro.props;
const Tag = component as any;
---

<Tag class:list={["py-12 px-6 bg-[#fffaf0] even:bg-[#fcedd8]", className]} id={id}>
  <div class="container mx-auto max-w-2xl *:max-w-xl">
    <slot />
  </div>
</Tag>
