---
interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div
  class:list={[
    "prose prose-brown",
    "prose-p:leading-normal prose-headings:font-black",
    "prose-a:text-plum-500 prose-a:underline-offset-2 prose-a:font-normal prose-a:transition prose-a:decoration-amber-500",
    className,
  ]}
>
  <slot />
</div>
