---
interface Props {
  html?: string;
  class?: string;
}

const { html, class: className } = Astro.props;
---

<div
  class:list={[
    "prose prose-brown",
    "prose-p:leading-normal prose-headings:font-black",
    "prose-a:text-teal-900 prose-a:underline-offset-2 prose-a:font-normal prose-a:transition",
    className
  ]}
>
  {html && <div set:html={html} />}
  <slot />
</div>
