---
import siteMetadata from '../data/siteMetadata.js';

const socialMedia = siteMetadata.siteSocialMedia;

function getSocialIcon(url: string) {
  if (url.includes('github')) return 'github';
  if (url.includes('twitter')) return 'twitter';
  if (url.includes('youtube')) return 'youtube';
  return null;
}
---

<header class="sticky top-0 backdrop-blur-lg z-50 bg-[#fffaf0b3] border-solid border-0 border-t-4 border-[#ff5722]">
  <div class="mx-auto max-w-4xl">
    <nav class="py-3 px-4 flex items-center gap-3">
      <a
        href="/"
        class="text-xl mr-auto hover:scale-110 transition-transform no-underline"
      >
        <span aria-hidden="true">&#128081;</span>
        <span class="sr-only">Queen Raae</span>
      </a>

      <a
        href="/search/"
        class="[&>*]:h-5 [&>*]:w-5 translate-y-px hover:scale-110 transition-transform mr-4"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="20px" height="20px" class="h-5 w-5">
          <path fill="#dadcec" d="M40.78 41.46H46.32V45.46H40.78z" transform="rotate(-45 43.543 43.464)"/>
          <rect width="8.49" height="22.51" x="48.8" y="41.79" fill="#cda1a7" rx="4" ry="4" transform="rotate(-45 53.04 53.04)"/>
          <rect width="4.24" height="22.51" x="49.42" y="43.29" fill="#c4939c" rx="2.12" ry="2.12" transform="rotate(-45 51.542 54.54)"/>
          <path fill="#ffeb9b" d="M25 1A24 24 0 1 0 25 49A24 24 0 1 0 25 1Z"/>
          <path fill="#f6d397" d="M11.14,38.86,38.86,11.14a4,4,0,0,1,6.11.54A24,24,0,0,1,11.68,45,4,4,0,0,1,11.14,38.86Z"/>
          <path fill="#bbdef9" d="M25 7A18 18 0 1 0 25 43A18 18 0 1 0 25 7Z"/>
          <path fill="#d2edff" d="M25 18A7 7 0 1 0 25 32A7 7 0 1 0 25 18Z"/>
          <path fill="#f3f3f3" d="M21 17A4 4 0 1 0 21 25 4 4 0 1 0 21 17zM29.5 28A1.5 1.5 0 1 0 29.5 31 1.5 1.5 0 1 0 29.5 28z"/>
          <path fill="#8d6c9f" d="M38.44,11.57a19,19,0,1,0,0,26.87A18.88,18.88,0,0,0,38.44,11.57ZM37,37a17,17,0,1,1,0-24A16.89,16.89,0,0,1,37,37Z"/>
        </svg>
        <span class="sr-only">Search</span>
      </a>

      {socialMedia.map((url) => {
        const iconType = getSocialIcon(url);
        return (
          <a
            href={url}
            target="_blank"
            rel="noreferrer"
            class="[&>*]:h-6 [&>*]:w-6 hover:scale-110 transition-transform"
          >
            {iconType === 'github' && (
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="24px" height="24px" class="h-6 w-6">
                <path fill="#8b8e98" d="M31 3A28 28 0 1 0 31 59A28 28 0 1 0 31 3Z"/>
                <path fill="#7e8189" d="M31,54A23,23,0,1,1,54,31,23,23,0,0,1,31,54Z"/>
                <path fill="#faefde" d="M36.08,43.35A11,11,0,0,1,39,50v5.25c0,.55.23,2.13.9,2.31L31,59.18l-9-1.61c.72-.16,1-1.77,1-2.32s0-.91,0-3.25c-7.79,1.69-9.4-4.3-9.4-4.3-1.28-3.23-3.11-4.1-3.11-4.1-2.54-1.73.19-1.7.19-1.7A5.89,5.89,0,0,1,15,44.79c2.5,4.27,6.44,3.92,8,3.21.26-1.81,2.1-3.93,2.9-4.63-6.22-.71-12.76-3.11-12.76-13.84A10.83,10.83,0,0,1,16,22a10.09,10.09,0,0,1,.28-7.41s2.35-.75,7.7,2.87a26.61,26.61,0,0,1,14,0c5.34-3.62,7.69-2.87,7.69-2.87A10.09,10.09,0,0,1,46,22a10.83,10.83,0,0,1,2.87,7.51C48.86,40.29,42.32,42.66,36.08,43.35Z"/>
                <path fill="#8d6c9f" d="M31,2a29,29,0,0,0-9.54,56.38,1,1,0,0,0,.55.19A29,29,0,1,0,31,2Z"/>
              </svg>
            )}
            {iconType === 'twitter' && (
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="24px" height="24px" class="h-6 w-6">
                <path fill="#85cbf8" d="M32 5A27 27 0 1 0 32 59A27 27 0 1 0 32 5Z"/>
                <path fill="#8d6c9f" d="M32,61C16.009,61,3,47.99,3,32S16.009,3,32,3s29,13.01,29,29S47.991,61,32,61z M32,5 C17.112,5,5,17.112,5,32s12.112,27,27,27s27-12.112,27-27S46.888,5,32,5z"/>
                <path fill="#faefde" d="M26.713,47c-3.604-0.008-7.095-0.994-10.146-2.856c0.375,0.03,0.758,0.046,1.139,0.046 c2.358,0,4.699-0.595,6.771-1.721l2.042-1.11l-2.21-0.72c-2.016-0.656-3.62-2.231-4.315-4.23l1.577-0.577l-1.415-1.108 c-1.625-1.273-2.575-3.179-2.616-5.238l2.687,1.089l-1.625-2.595c-1.274-2.086-1.333-4.684-0.166-6.821 c3.307,3.973,7.95,6.469,13.093,7.037l1.11,0.122V26.58c0-1.736,0.653-3.391,1.84-4.657c1.302-1.389,3.067-2.153,4.972-2.153 c1.734,0,3.388,0.653,4.654,1.84l0.391,0.366l0.521-0.122c1.283-0.301,2.512-0.779,3.659-1.424 c-0.177,0.489-0.418,0.972-0.713,1.422l-1.763,2.683l3.347-1.358c-0.796,1.125-1.758,2.126-2.858,2.972L46.3,26.448v0.962 c-0.043,4.859-1.836,9.554-5.051,13.21c-3.561,4.059-8.699,6.386-14.097,6.386C27.006,47.006,26.86,47.004,26.713,47z"/>
                <path fill="#8d6c9f" d="M45.87,25.8c-0.238,0.174-0.373,0.455-0.36,0.75c0,0.28,0,0.57,0,0.86c-0.009,10.405-8.452,18.832-18.857,18.823 c-2.414-0.002-4.805-0.468-7.043-1.373c2.644-0.323,5.151-1.36,7.25-3c0.381-0.302,0.446-0.855,0.144-1.236 c-0.163-0.207-0.411-0.329-0.674-0.334c-2.085-0.036-4.005-1.143-5.08-2.93c0.659-0.008,1.314-0.098,1.95-0.27 c0.468-0.13,0.742-0.616,0.612-1.084c-0.089-0.318-0.348-0.56-0.672-0.626c-2.343-0.481-4.184-2.294-4.7-4.63 c0.674,0.21,1.374,0.328,2.08,0.35c0.393,0.021,0.749-0.232,0.86-0.61c0.12-0.374-0.023-0.782-0.35-1 c-2.261-1.508-3.242-4.336-2.4-6.92c3.648,3.901,8.666,6.235,14,6.51c0.276,0.018,0.544-0.097,0.72-0.31 c0.175-0.211,0.242-0.492,0.18-0.76c-0.75-3.262,1.287-6.514,4.549-7.263c2.094-0.481,4.285,0.182,5.761,1.743 c0.207,0.22,0.513,0.318,0.81,0.26c0.713-0.141,1.415-0.335,2.1-0.58c-0.4,0.438-0.861,0.815-1.37,1.12 c-0.396,0.282-0.488,0.831-0.206,1.227c0.188,0.264,0.505,0.403,0.826,0.363c0.42-0.053,0.837-0.12,1.25-0.2 C46.816,25.084,46.355,25.459,45.87,25.8z"/>
              </svg>
            )}
            {iconType === 'youtube' && (
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="24px" height="24px" class="h-6 w-6">
                <path fill="#ed7899" d="M59.921,17.502c-0.561-3.923-3.703-6.968-7.64-7.405l-3.083-0.343 c-11.412-1.268-22.985-1.268-34.396,0l-3.083,0.343c-3.937,0.437-7.079,3.482-7.64,7.405c-1.377,9.639-1.436,19.421-0.178,29.073 l0.239,1.825c0.519,3.979,3.666,7.067,7.654,7.511l3.007,0.334c5.706,0.634,11.452,0.95,17.198,0.95s11.493-0.316,17.198-0.95 l3.007-0.334c3.988-0.444,7.136-3.532,7.654-7.51l0.239-1.827C61.357,36.923,61.298,27.141,59.921,17.502z"/>
                <path fill="#e0678f" d="M8.025,50c-1.762,0-2.686,2.135-1.448,3.388c1.359,1.376,3.178,2.296,5.217,2.523l3.007,0.334 c5.706,0.634,11.452,0.95,17.198,0.95s11.493-0.316,17.198-0.95l3.007-0.334c2.04-0.227,3.858-1.147,5.218-2.523 C58.661,52.135,57.737,50,55.975,50H8.025z"/>
                <path fill="#f283a5" d="M55.975,16.196c1.762,0,2.686-2.135,1.448-3.388c-1.359-1.376-3.178-2.296-5.217-2.523L49.198,9.95 C43.492,9.316,37.746,9,32,9S20.508,9.316,14.802,9.95l-3.007,0.334c-2.04,0.227-3.858,1.147-5.218,2.523 c-1.238,1.253-0.313,3.388,1.448,3.388H55.975z"/>
                <path fill="#faefde" d="M25.471,41.896L25.469,24l16.279,8.975L25.471,41.896z"/>
                <path fill="#8d6c9f" d="M44.292,32.978c0-0.364-0.198-0.7-0.517-0.877L25.483,22.015c-0.31-0.172-0.688-0.164-0.991,0.015 C24.187,22.21,24,22.537,24,22.891L24.002,43c0,0.354,0.187,0.681,0.49,0.86c0.157,0.093,0.333,0.14,0.51,0.14 c0.166,0,0.331-0.041,0.48-0.123l18.29-10.023C44.092,33.678,44.292,33.343,44.292,32.978z M26.002,41.312L26,24.584l15.216,8.39 L26.002,41.312z"/>
              </svg>
            )}
            <span class="sr-only">{iconType}</span>
          </a>
        );
      })}
    </nav>
  </div>
</header>
