---
import BaseLayout from '../../layouts/BaseLayout.astro';
import PageSection from '../../components/PageSection.astro';
import PageSectionHeader from '../../components/PageSectionHeader.astro';
import PageSectionBreadcrumbs from '../../components/PageSectionBreadcrumbs.astro';

const BADGE = "Emails";
const TITLE = "Preferences";
const LEAD = "Your preferences have been saved";
---

<BaseLayout title={`${BADGE} - ${TITLE}`} description={LEAD}>
  <main>
    <PageSection component="header">
      <PageSectionBreadcrumbs
        class="mt-4"
        items={[
          { label: BADGE, to: '/subs/' },
          { label: TITLE }
        ]}
      />
      <PageSectionHeader
        title={LEAD}
        hLevel={1}
      />
    </PageSection>
  </main>
</BaseLayout>
