---
import BaseLayout from '../../layouts/BaseLayout.astro';
import SiteHeader from '../../components/SiteHeader.astro';
import PageSection from '../../components/PageSection.astro';
import PageSectionHeader from '../../components/PageSectionHeader.astro';
import PageSectionBreadcrumbs from '../../components/PageSectionBreadcrumbs.astro';
import Prose from '../../components/Prose.astro';
import Newsletter from '../../components/Newsletter.astro';

const BADGE = 'Emails';
const TITLE = 'Reminders';
const DESCRIPTION = 'Live stream reminders';
---

<BaseLayout title={`${BADGE} - ${TITLE}`} description={DESCRIPTION}>
  <SiteHeader />
  <main>
    <PageSection component="header">
      <PageSectionBreadcrumbs
        class="mt-4"
        items={[{ label: BADGE, to: '/subs/' }, { label: TITLE }]}
      />
      <PageSectionHeader title={DESCRIPTION} hLevel={1} />
      <Prose>
        <p>
          Receive a reminder via email 30 minutes before we go live on the{" "}
          <a href="https://www.youtube.com/channel/UCDlrzlRdM1vGr8nO708KFmQ">
            Queen Raae YouTube channel
          </a>.<br />
          <small>(The YouTube notfications system cannot be trusted <span role="img" aria-label="Facepalm emojii">🤦‍♀️</span> )</small>
        </p>
      </Prose>
      <Newsletter class="mt-8" formKey="reminders" cta="Yes, please" tagline="" message="" />
    </PageSection>
  </main>
</BaseLayout>
