---
import '../styles/global.css';

interface Props {
  title?: string;
  description?: string;
}

const { title, description } = Astro.props;
const siteTitle = title ? `${title} | Queen Raae` : 'Queen Raae - Pirate of the Web';
const siteDescription = description || 'Queen Raae - Pirate of the Web';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{siteTitle}</title>
    <meta name="description" content={siteDescription} />
    <style>
      html {
        font-size: clamp(16px, 18px + .15vw, 19px)
      }
    </style>
  </head>
  <body>
    <slot />
  </body>
</html>
